


<!-- banner -->
<section class="banner w3pvt-banner" id="home">
    <div class="container">
        <div class="banner-text">
            <div class="slider-info">
                <div class="w3pvt-logo">
                    <h1>@TempData["message"]</h1>
                    <h2>Book Your Cab Now</h2>
                    <h3>+1(12) 366 411 4999</h3>
                    <p class="mt-3"> Always Available, Best Cabs, Safe Journey.</p>
                    <img src=".\mainsite\images\cab.png" alt="" class="img-fluid mt-md-5" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner -->