

<!-- call us -->
<section class="customer-call">
    <div class="container">
        <div class="row">
            <div class="col-md-8 py-sm-5 py-4 mt-3">
                <h4 class="mt-2">24 Hours 7 Days a Week</h4>
                <p>Call Us Now</p>
                <h2><span class="fa mr-1 fa-phone"></span> +1(12) 366 411 4999</h2>
                <p class="mt-4">Nam arcu mauris, tincidunt sed convallis non, egestas ut lacus. Cras sapien urna, varius malesuada ut varius consequat, hendrerit nisl. Aliquam vestibulum, odio non ullamcorper malesuada totam rem aperiam, eaque ipsa quae.</p>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-4 col-sm-6 col-8 pt-md-5 mt-lg-3">
                <img src=".\mainsite\images\agent-18762.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //call us -->