


<!-- //what we do -->
<section class="services py-5" id="services">
    <div class="container py-lg-5 py-3">
        <div class="row service-grid-grids text-center">
            <div class="col-lg-4 col-md-6 service-grid service-grid1">
                <div class="service-icon">
                    <span class="fa fa-car"></span>
                </div>
                <h4 class="mt-3">Fast and Safe</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-grid service-grid2 mt-md-0 mt-5">
                <div class="service-icon">
                    <span class="fa fa-user"></span>
                </div>
                <h4 class="mt-3">Experienced Drivers</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>

            <div class="col-lg-4 col-md-6 service-grid service-grid3 mt-lg-0 mt-5">
                <div class="service-icon">
                    <span class="fa fa-paper-plane"></span>
                </div>
                <h4 class="mt-3">Online Booking</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-grid service-grid4 mt-5">
                <div class="service-icon">
                    <span class="fa fa-search"></span>
                </div>
                <h4 class="mt-3">GPS Searching</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-grid service-grid4 mt-5">
                <div class="service-icon">
                    <span class="fa fa-car"></span>
                </div>
                <h4 class="mt-3">Safe Journey</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="col-lg-4 col-md-6 service-grid service-grid6 mt-5">
                <div class="service-icon">
                    <span class="fa fa-cogs"></span>
                </div>
                <h4 class="mt-3">24/7 Cab Service</h4>
                <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>

        </div>
    </div>
</section>
<!-- what we do -->